{% extends 'base.html.twig' %}

{% block title %}Библиотека АртВизио | Редактировать книгу "{{ book }}"{% endblock %}

{% block body %}
  <h1>Редактировать книгу "{{ book }}"</h2>
  <br>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
  <hr>
  <a href="/">Назад</a>
{% endblock %}
